@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css";
header {
  position: relative;
  font-weight: bolder;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(255,255,255,0));
  padding: 30px;
  padding-bottom: 40px;
}
header img {
  height: 2.5em;
  float: left;
  display: inline;
}
header ul {
  font-weight: bolder;
  display: inline;
  margin: 0 10px;
  list-style: none;
}
header ul a {
  text-decoration: none;
  color: #fff;
}
header ul li {
  cursor: pointer;
  vertical-align: middle;
  display: inline;
  padding: 20px;
}
header ul li:hover {
  background: #808080;
}
header .buttons {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0%, -50%);
}
header .buttons .profile {
  display: none;
  position: absolute;
  height: 150px;
  width: 100px;
  background: rbga(20, 40, 100, 0.8);
  z-index: 1;
}
header .buttons .button {
  border: none;
  padding: 10px;
  background: rgba(0,0,0,0);
  text-decoration: none;
  color: #fff;
}
header .buttons .button:nth-child(2) {
  background: #008000;
}
button,
select {
  cursor: pointer;
  color: #fff;
  border: none;
}
.green {
  background: #008000;
  font-weight: bold;
}
button:focus,
select:focus {
  outline: none;
}
html,
body {
  height: 100%;
}
body {
  background: #292929;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin: 0;
}
#needHelp {
  border: 1px solid #fff;
  position: fixed;
  right: 25px;
  bottom: 25px;
  font-size: 1em;
  padding: 10px;
}
body {
  background: #948e99; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #948e99, #2e1437); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #948e99, #2e1437); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
  font-family: 'Monofett', cursive;
  font-size: 5em;
  margin: 0px;
  margin-bottom: 30px;
}
.container {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
  background: rgba(200,200,200,0.5);
  padding: 50px;
  text-align: center;
  display: run-in;
  margin: 0 auto;
  width: 25%;
}
.container * {
  margin-top: 10px;
  padding: 10px;
}
.container select {
  width: 100%;
  background: rgba(90,80,90,0.5);
}
.container button {
  color: #fff;
  text-decoration: none;
  margin: 10px;
  background: rgba(50,50,50,0.5);
  border: none;
}
.container button:hover {
  background: rgba(50,50,50,0.8);
}
#questionContainer {
  border: 2px solid #808080;
  width: 50%;
  margin: 0 auto;
}
#questionContainer .query {
  font-size: 1.2em;
  padding: 5px;
  padding-left: 30px;
}
#questionContainer .options .option {
  border: 1px solid #a9a9a9;
  padding: 10px;
  padding-left: 50px;
}
#questionContainer .options .option:hover {
  background: rgba(20,100,255,0.8);
}
#questionContainer .options .option.selected {
  background: rgba(20,255,100,0.6);
}
#questionContainer button {
  padding: 10px 15px;
  background: #008000;
}
