@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css";
header {
  position: relative;
  font-weight: bolder;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(255,255,255,0));
  padding: 30px;
  padding-bottom: 40px;
}
header img {
  height: 2.5em;
  float: left;
  display: inline;
}
header ul {
  font-weight: bolder;
  display: inline;
  margin: 0 10px;
  list-style: none;
}
header ul a {
  text-decoration: none;
  color: #fff;
}
header ul li {
  cursor: pointer;
  vertical-align: middle;
  display: inline;
  padding: 20px;
}
header ul li:hover {
  background: #808080;
}
header .buttons {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0%, -50%);
}
header .buttons a,
header .buttons .button {
  border: none;
  padding: 10px;
}
header .buttons .button:nth-child(1) {
  background: rgba(0,0,0,0);
}
header .buttons a {
  background: #008000;
  text-decoration: none;
  color: #fff;
}
button,
select {
  cursor: pointer;
  color: #fff;
  border: none;
}
.green {
  background: #008000;
  font-weight: bold;
}
button:focus,
select:focus {
  outline: none;
}
html,
body {
  height: 100%;
}
body {
  background: #292929;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin: 0;
}
#needHelp {
  border: 1px solid #fff;
  position: fixed;
  right: 25px;
  bottom: 25px;
  font-size: 1em;
  padding: 10px;
}
h1 {
  font-family: 'Monofett', cursive;
  font-size: 5em;
  margin: 0px;
  margin-bottom: 30px;
}
.container {
  background: rgba(100,255,100,0.5);
  padding: 50px;
  text-align: center;
  display: run-in;
  margin: 0 auto;
  width: 25%;
}
.container * {
  margin-top: 10px;
  padding: 10px;
}
.container select {
  width: 100%;
  background: rgba(90,80,90,0.5);
}
.container button {
  color: #fff;
  text-decoration: none;
  margin: 10px;
  background: rgba(50,50,50,0.5);
  border: none;
}
.container button:hover {
  background: rgba(50,50,50,0.8);
}
test {
  text-align: center;
  background: #f00;
}
