.unauthErr
  background: #aa4444
  width: 30%
  margin: 50px auto
  padding: 15px 20px
  h1
    margin: 0px
    color: pink
    font-size: 20px
  p
    color: pink
  button
    margin: 0px 5px
.chatArea
  width: 50%
  background: rgba(0,0,0,0.5)
  padding: 20px 10px
  margin: 0 auto
  text-align: center
  .messages
    border: 2px solid #eee
    padding: 5px
  input
    background: gray
    border: none
    width: 50%
    margin: 0 auto
    display: inline
    height: 1.5em
    padding: 0px 5px
    &:focus
      outline: none
