@require 'header'
button
  cursor: pointer
  color: white
.green
  background: green
  font-weight: bold
button:focus
  outline: none
body
  // background: red
  font-family: 'Open Sans',sans-serif
  color: white
  margin: 0
#needHelp
  border: 1px solid white
  position: fixed;
  right: 25px
  bottom: 25px
  font-size: 1em
  padding: 10px
