header
  position: relative
  font-weight: bolder
  background: linear-gradient( rgba(0,0,0,0.6), rgba(255,255,255,0) );
  padding: 30px
  padding-bottom: 40px
  img
    height: 2.5em
    float: left
    display: inline;
    // background: red
  ul
    font-weight: bolder
    display: inline;
    margin: 0 10px;
    list-style: none
    // background: red
    // float: left
    a
      text-decoration: none
      color: white
    li
      cursor: pointer
      vertical-align: middle;
      display: inline;
      padding: 20px
    li:hover
      background: gray
  .buttons
    position: absolute;
    top: 50%
    right: 0px
    transform: translate(0%,-50%);
    a, .button
      border: none
      padding: 10px
    .button:nth-child(1)
      background: rgba(0,0,0,0)
    a
      background: green
      text-decoration: none
      color: white
