header
  position: relative
  font-weight: bolder
  background: linear-gradient( rgba(0,0,0,0.6), rgba(255,255,255,0) );
  padding: 30px
  padding-bottom: 40px
  img
    height: 2.5em
    float: left
    display: inline;
  ul
    font-weight: bolder
    display: inline;
    margin: 0 10px;
    list-style: none
    a
      text-decoration: none
      color: white
    li
      cursor: pointer
      vertical-align: middle;
      display: inline;
      padding: 20px
    li:hover
      background: gray
  .buttons
    position: absolute;
    top: 50%
    right: 0px
    transform: translate(0%,-50%);
    .profile
      display: none
      position: absolute;
      height: 150px
      width: 100px
      background: rbga(20,40,100,0.8)
      z-index: 1
    .button

      border: none
      padding: 10px
      background: rgba(0,0,0,0)
      text-decoration: none
      color: white
    .button:nth-child(2)
      background: green
