@require 'bgWallpaper'
.dashboard
  height: 100vh

  overflow: hidden
  .text
    font-size: 1.2em
    position: absolute;
    left: 5%
    top: 45%
    transform: translate(0%,-50%);
    h1
      font-size: 2.8em
  &>.right
    width: 50%
    height: 100%
    position: relative;
    float: right
    // background-color: blue
    &>.buttons
      font-size: 1.2em
      position: absolute;
      left: 32%
      top: 30%
      transform: translate(-50%,-50%);
      &>a
        color: white
        text-decoration: none
        a, div
          padding: 20px 60px
          text-align: center;
          height: 2em
          margin: 40px
          line-height: 200%
        #joinBtn
          background: green
        #joinBtn:hover
          background: darkgreen
        #loginBtn
          border: 2px solid green
        #loginBtn:hover
          background: green
