<!DOCTYPE html>
<html>
  <head>
    <% include metaTags %>
    <title>LeadLearn | Chat</title>
    <link rel="stylesheet" href="/styles/chat.css">
  </head>
  <body>
    <% include header %>
  </body>
</html>
