<header>
  <a href="http://leadlearn.tk"><img src="/l1.png" alt="" height="80px" /></a>
  <ul>
    <a href="/"><li>HOME</li></a>
    <li>COURSES</li>
    <li>TESTS</li>
    <a href="/chat"><li>CHAT</li></a>
    <li>EXPLORE</li>
    <li>BLOG</li>
    <li>TEAMS</li>
  </ul>
  <div class="buttons">
    <button type="button" name="button" class="button">Log in</button>
    <a name="button" class="green" href="/register">REGISTER</a>
  </div>
</header>
