<header>
  <a href="http://localhost"><img src="/l1.png" alt="" height="80px" /></a>
  <ul>
    <li>COURSES</li>
    <li>TESTS</li>
    <li>CHAT</li>
    <li>EXPLORE</li>
    <li>BLOG</li>
    <li>TEAMS</li>
  </ul>
  <div class="buttons">
    <button type="button" name="button">Log in</button>
    <button type="button" name="button" class="green">REGISTER</button>
  </div>
</header>
