<!-- <header> -->
  <!-- <a href="http://leadlearn.tk"><img src="/l1.png" alt="" height="80px" /></a> -->
  <!-- <ul>
    <a href="/"><li>HOME</li></a>
    <li>COURSES</li>
    <a href="/tests"><li>TESTS</li></a>
    <a href="/chat"><li>CHAT</li></a>
    <li>EXPLORE</li>
    <li>BLOG</li>
    <li>TEAMS</li>
  </ul> -->
    <!-- <div class="buttons">
      <% if(loggedIn === 0){ %>
        <a name="button" class="button" href="/login">Log in</a>
        <a name="button" class="green" href="/register">REGISTER</a>
      <% } else { %>
        <a name="button" class="button" href="#" onclick="profile()">Profile</a>
        <a name="button" class="button" href="#" onclick="logout()">Log out</a>
        <div class="profile"></div>
      <% } %>
    </div>
</header> -->
<script type="text/javascript" src="/scripts/jquery-cookie.js"></script>
<script type="text/javascript">
  function profile() {
    console.log($.cookie("session"));
    $.post( "/getUsername",{ cookie: $.cookie("session")}, function( data ) {
  $( ".profile" ).html( data );
  });
    $('.profile').toggle()
  }

  function logout() {
    $.removeCookie('session', { path: '/' });
    $.post('/logout',{cookie: $.cookie("session")},function(data) {
    });
  }

</script>
