<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LeadLearn | Home</title>
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/styles/all.css">
    <link rel="stylesheet" href="/styles/index.css">
  </head>
  <body>
    <div class="dashboard">
      <% include header %>
      <div class="left">
        <div class="text">
          <h1>Free and Open Source
            <br>Technology Learning</h1>
            <h2>Free Training | Certification | Community</h2>
          </div>
      </div>
      <div class="right">
        <div class="buttons">

          <a href="/register">
            <div id="joinBtn">
              JOIN LEADLEARN
            </div>
          </a>
          <a href="/login">
            <div id="loginBtn">
              LOGIN
            </div>
          </a>
        </div>
      </div>
    </div>
  <% include need-help %>
  <% include footer %>
  </body>
</html>
