<!DOCTYPE html>
<html>
  <head>
    <% include metaTags %>
    <title>LeadLearn | Login</title>
    <link href="https://fonts.googleapis.com/css?family=Faster+One|Monofett" rel="stylesheet">
    <link rel="stylesheet" href="/styles/tests.css">
  </head>
  <body>
    <% include header %>
    <center><h1>Ready, Get Set Go!</h1></center>
    <div class="container">
      <select class="" name="course">
        <option disabled selected value> -- Select your weapon -- </option>
        <option value="python">Python</option>
        <option value="java">Java</option>
        <option value="js">JavaScript</option>
        <option value="all">All</option>
      </select>
      <div class="buttons">
        <button type="button" name="button">COMPETE</button>
        <button type="button" name="button">TEST ONLY</button>
      </div>
    </div>
    <div id="app">

    </div>
    <script type="text/javascript" src="/scripts/tests.js"></script>
  </body>
</html>
