<!DOCTYPE html>
<html>
  <head>
    <% include metaTags %>
    <title>LeadLearn | Login</title>
    <link href="https://fonts.googleapis.com/css?family=Faster+One|Monofett" rel="stylesheet">
    <link rel="stylesheet" href="/styles/tests.css">
  </head>
  <body>
    <% include header %>
    <% if(loggedIn){ %><div id="app"></div><% } else { %>
      <% include pleaseLogin.ejs %>
    <% } %>
    
    <script type="text/javascript" src="/scripts/tests.js"></script>
  </body>
</html>
