ul.options
  list-style: none
  width: 100%
  margin: 0 auto
li.option
  width: 85%
  font-size: 1.1em
  margin: 20px auto
  padding: 10px
  background: rgba(90,90,90,0.8)
  cursor: pointer
  border: 3px solid rgba(90,90,90,0.8)
  &:hover
    border: 3px solid green
