.questionNavBtns
  width: 50%
  position: relative
  margin: 0 auto
  // padding: 0 100px
.questionNavBtn
  position: relative;
  left: 100px
  margin-right: 5px
  border: 2px solid #333
  &:hover
    color: gray
    border: 2px solid gray
