.questionNavBtns
  width: 50%
  position: relative
  margin: 0 auto
  // padding: 0 100px
.questionNavBtn
  position: relative;
  margin-right: 5px
  border: 2px solid #333
  &.enabled:hover
    color: gray
    border: 2px solid gray
  &.left
    left: 100px
  &.right
    float:right
  &.disabled
    opacity: 0.6
