.headerButtons
  position: absolute
  right: 5%
  top: 50%
  transform: translate(0%,-50%);
  a // <Link> in jsx not <a> in html
    color: white
    text-decoration: none
    margin: 5px
    padding: 10px
