.rightToLeft-enter {
  opacity: 0.01;
}

.rightToLeft-enter.rightToLeft-enter-active {
  opacity: 1;
  transition: opacity 5s ease-in;
}

.rightToLeft-leave {
  opacity: 1;
}

.rightToLeft-leave.rightToLeft-leave-active {
  opacity: 0.01;
  transition: opacity 3s ease-in;
}

.rightToLeft-appear {
  // transform: translate3d(80%, 0, 0);
  opacity: 0.01;
}

.rightToLeft-appear.rightToLeft-appear-active {
  // transform: translate3d(0%, 0, 0);
  opacity: 1;
  transition: opacity 1s linear;
}
