.rightToLeft-enter {
  opacity: 0.01;
}

.rightToLeft-enter.rightToLeft-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.rightToLeft-leave {
  opacity: 1;
}

.rightToLeft-leave.rightToLeft-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.rightToLeft-appear {
  opacity: 0.01;
}

.rightToLeft-appear.rightToLeft-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
