.dashboard
  text-align: center
  width: 50%
  margin: 0 auto
  h1
    margin: 80px 5px 20px 5px;
  button
    text-transform: uppercase
    letter-spacing: 0.1em
    background: rgba(50, 150, 50, 0.6)
    border: 3px solid rgba(50, 150, 80, 1)
    width: 30%
    &:hover
      border: 3px solid white
.rightToLeft-enter {
  opacity: 0.01;
}

.rightToLeft-enter.rightToLeft-enter-active {
  opacity: 1;
  transition: opacity 5s ease-in;
}

.rightToLeft-leave {
  opacity: 1;
}

.rightToLeft-leave.rightToLeft-leave-active {
  opacity: 0.01;
  transition: opacity 3s ease-in;
}

.rightToLeft-appear {
  // transform: translate3d(80%, 0, 0);
  opacity: 0.01;
}

.rightToLeft-appear.rightToLeft-appear-active {
  // transform: translate3d(0%, 0, 0);
  opacity: 1;
  transition: opacity 1s linear;
}
